/*imported 'Figtree' font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*basic reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'figtree', sans-serif;
}

body{
    background-color: hsl(47, 88%, 63%);
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

small:not(.date),
.author,
h1 {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.container{
    background-color: white;
    width: 350px;
    height: 520px;
    margin: auto;
    padding: 18px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 7px 5px hsl(0, 0%, 7%);
}

.featuredimg{
    width: 310px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}




small:not(.date, .author){
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 22px;
}

.date{
    display: block;
    margin-bottom: 16px;
    font-weight: 800;
}
h1{
    font-size: 1.3rem;
    margin-bottom: 18px;
}
h1 a, small a{
    text-decoration: none;
    color: inherit;
}
h1 a:hover, small a:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.summary{
    font-size: 16px;
    line-height: 1.4rem;
}
.authorimgContainer{
    margin-top: 22px;
    margin-bottom: 0;
    width: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.authorimg{
    width: 35px;
}


